body {

h1{
        color: lightseagreen;
        text-align: center;
    }
    .reset{
        color:white;
        background: lightseagreen;
    }
    background-color: rgb(66, 77, 143);
};

.jumbrotron{
    .col {
        margin: 5% 1%;
        height: 200px;
        border: 5px solid lightseagreen;
        color: white;
    }
};